<div class="content">
    <mat-card>
        <img mat-card-image src="./../assets/images/furniture3.jpg" />
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
               <h3> Scandanavian Collection</h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="font-weight: 400;">
                Description of this selected furniture Description of this selected furnitureDescription of this selected furnitureDescription of this selected furniture
            </p>
            <div>
                <div style="float: left">
                  <strong>$950</strong>
                  <button class="primary">Buy Now</button>
        
                  <span class="material-icons addcart">add_shopping_cart </span>
                </div>
              </div>
        </mat-card-content>
    </mat-card>
</div>

